{% load static %}

{% static "css/app.css" as bundlemin %}
{% static "css/ziehharmonika.css" as ziehharmonika %}
{% static "jQuery-CSS3/dist/jquery.loading-indicator.css" as indicator %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="google-signin-client_id" content="526737419304-j6vbinf4q918jus161f7oj0spm9ap0j3.apps.googleusercontent.com">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ bundlemin }}"/>
	<link rel="stylesheet" href="{{ ziehharmonika }}">
	<link rel="stylesheet" href="{{ indicator }}">
	<title>{{ sitename }}</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{% static 'js/hover.js' %}"></script>
	<script src="{% static 'js/loginInitiate.js' %}"></script>
	<script src="{% static 'js/themeChanger.js' %}"></script>
	<script src="{% static 'js/accordion.js' %}"></script>
	<script src="{% static 'js/ziehharmonika.js' %}"></script>
	<script src="{% static 'js/indicatorLoad.js' %}"></script>
	<script src="{% static 'jQuery-CSS3/dist/jquery.loading-indicator.js' %}"></script>
  </head>
  <body style = "background-color: #3AAFA9;" name ="526737419304-8k1p141b9ht40enm67ukm9dutgoha8v5.apps.googleusercontent.com" id = "base">
  <div class="container-fluid" name="header">
	<ul class="nav justify-content-between">
		<li class="nav-item justify-content-center">
			<b class="nav-link active" style="font-family:courier; font-size:25px; color:white;"> Haikal's Personal Site Version 2</b>
		</li>
		<form class="form-inline">
			<div class="g-signin2" data-onsuccess="onSignIn"></div>
			<button href="#" style = "text-align:right;" id="SO" onclick="signOut();">Sign out</button>
		</form>
	</ul>
	</div>
	<br>
	{% block content %}
	{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="{% static 'js/jsonInitiate.js' %}"></script>
	<script src="{% static 'js/loginInitiate.js' %}"></script>
	<script src="{% static 'js/registerInitiate.js' %}"></script>
	<script src="{% static 'js/accountInitiate.js' %}"></script>
	<script src="{% static 'js/indicatorLoad.js' %}"></script>
	
  </body>
</html>