{% extends "base.html" %}

{% block content %}
</div>
<br>
<div style = "text-align: center">
	<p style = "font-size: 36px; font-family: righteous;" id = "demo"> List of Books (Favorite: <span id="counter">0</span>)</p>
</div>
<br>

<div style ="text-align:center;">
	<p style = "font-size: 25px; font-family: righteous;" id = "demo2"> Find book:</p>
	<input type="text" id = "judul"></input>	
	<button id="submitButton2" class="save btn btn-default">Find!</button>
</div>

<br>

<table class="table table-bordered table-light" id = "records_table">
  <thead class = "table-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
	  <th scope="col">Publisher</th>
	  <th scope="col">Description</th>
	  <th scope="col">Cover Art</th>
      <th scope="col">Favorite</th>
    </tr>
  </thead>
  <tbody id = "tableBody">

  </tbody>
</table>
<br>
<br>
<br>

<div style ="text-align:center;">
	<a class="btn btn-dark btn-lg" href="{% url 'index' %}" style="font-family:righteous;  color:white; font-size:25px;" id = "returnButton" role="button">Kembali</a>
</div>

{% endblock content %}