{% extends 'base.html' %}
{% load static %}

{% block content %}
<center><h1 data-toggle="tooltip" title="Change the site's background theme">Change Theme</h1></center>
<br>
<br>
<div style = "text-align: center">
    <button name="themeChange" id = "button1" value = "a">Original Style</button>
	<button name="themeChange" id = "button2" value = "b">Classic Style</button>
</div>
<br>
<br>
<div style ="text-align:center;">
	<a class="btn btn-dark btn-lg" href="{% url 'index' %}" style="font-family:righteous; color:white; font-size:25px;" id = "returnButton" role="button">Kembali</a>
</div>
<br>

{% endblock %}