{% extends "base.html" %}

{% block content %}
<h1 style="font-family:arial; font-size: 36px; text-align:center" data-toggle="tooltip" title="This is my personal website!" id = "welcomeText"><b>Hello there!</b></h1>
<br>
<div style="padding: 0 auto; width:1000; float:none">
	<div style="text-align:center; width: 480">
		<a class="btn btn-dark btn-lg" href="{% url 'status_new' %}" style="font-family:righteous;  color:white; font-size:25px; margin: 5px" id="AddStatusButton" role="button" data-toggle="tooltip" title="Add a new status">Add status!</a>
		<a class="btn btn-dark btn-lg" href="{% url 'profile' %}" style="font-family:righteous;  color:white; font-size:25px; margin: 5px" id="ProfileButton" role="button" data-toggle="tooltip" title="Contains some general information about me">Profile!</a>
		<a class="btn btn-dark btn-lg" href="{% url 'change_theme' %}" style="font-family:righteous;  color:white; font-size:25px; margin: 5px" id="ThemeButton" role="button" data-toggle="tooltip" title="Change the theme of this site">Change theme</a>
	</div>
	<br>
	<div style="text-align:center; width: 480">
		<a class="btn btn-dark btn-lg" href="{% url 'book' %}" style="font-family:righteous;  color:white; font-size:25px; margin: 5px" id="BookButton" role="button" data-toggle="tooltip" title="See a list of books">Books</a>
		<a class="btn btn-dark btn-lg" href="{% url 'registration' %}" style="font-family:righteous;  color:white; font-size:25px; margin: 5px" id="RegisterButton" role="button" data-toggle="tooltip" title="Register a new account">Register</a>
	</div>
	<br>
</div>

<br>
<br>

{% if user.is_authenticated %}
             <p class="display-4">Hello, {{ user.username }}</p>
	{% else %}
             <a class="lead" href="{% url 'login' %}">Log in</a>
	{% endif %}


<div class="container" style = "float:center;">
<br>
	<div class="row">
		<div class="col-md-8">
		<h1 style="font-family:arial; font-size: 36px; text-align:center" data-toggle="tooltip" title="This is my personal status!"><b>List of statuses</b></h1>
<br>
			{% for status in status_list %}
				{% include "status.html" with status=status only %}
			{% empty %}
				<p>No entries yet.</p>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}