{% extends "base.html" %}

{% block content %}
<h2>Login</h2>
 <button href="{% url 'social:begin' 'google-oauth2' %}" type="submit">Login with Google</button>
s
  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
{% endblock content %}