{% extends 'base.html' %}
{% load static %}

{% block content %}
<center><h1>PROFILE</h1></center>
<div class="center" style="width: 90%;border: 3px solid black; padding:5px;margin:50px;text-align:center;background-color: white">
	<a style = "color:black; font-family:questrial; font-size: 24px">Saya adalah seorang mahasiswa Fasilkom UI yang tertarik dengan komputer. Awalnya saya ingin mengambil prodi Ilmu Komputer, tetapi karena nilai saya sedikit rendah dari <i>passing grade</i>  sehingga takut tidak diterima, saya akhirnya mengambil Sistem Informasi. Saya suka menggunakan internet untuk mencari informasi. Saya mahir dalam bahasa Inggris, kimia, dan bermain video games, tetapi tidak terlalu kuat dengan fisika.</a>
</div>

<div class="ziehharmonika" id = "accordion">
  <h3>Daftar Aktivitas</h3>
  <div>
    <a>1. Belajar programming dan web designing.</a>
  </div>

  <h3>Pengalaman Organisasi</h3>
  <div>
    <a>1. Panitia ALSEACE 2015 Al-Azhar BSD</a>
  </div>
  
  <h3>Prestasi</h3>
  <div>
    <a>1. Juara 1 Futsal 17 Agustus-an</a>
	</div>
</div>

<br>

<div style ="text-align:center;">
	<a class="btn btn-dark btn-lg" href="{% url 'index' %}" style="font-family:righteous;  color:white; font-size:25px;" id = "returnButton" role="button">Kembali</a>
</div>
<br>

{% endblock %}