{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style ="text-align:center;">
    <form method="POST"  id = "registerForm">
		{% csrf_token %}
        {{ form }}
        <button type="submit" id="submitButtonRegis" class="save btn btn-default">Register</button>
    </form>
</div>
<br>
<br>
<br>

<div style = "text-align: center">
	<p style = "font-size: 36px; font-family: righteous;" id = "demo"> List of Registered Account</p>
</div>
<br>

<div style ="text-align:center;">
	<button id="submitButtonShowAccount" class="save btn btn-default">Show!</button>
</div>

<br>

<table class="table table-bordered table-light" id = "records_table">
  <thead class = "table-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
	  <th scope="col">Email</th>
      <th scope="col">Unregister</th>
    </tr>
  </thead>
  <tbody id = "tableBody2">

  </tbody>
</table>
<br>
<br>
<br>

<a class="btn btn-dark btn-lg" href="{% url 'index' %}" style="font-family:righteous;  color:white; font-size:25px; margin: 5px" id="returnButton" role="button">Kembali</a>
<br>


{% endblock %}