{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div style="background-color: white; border: 2px solid black; padding: 5px; margin: 5px; opacity: 0.9;">
				<div>
					<article>
							<h2><center><a>{{ status.title }}</center></a></h2>
							<p class="subheader">
								<time>{{ status.modified_at|date }}</time>
							</p>
							<p>	
							{{ status.description|linebreaks }}
							</p>
					</article>
				</div>
			</div>
		</div>
	</div>
</div>
<br>
<div style ="text-align:center;">
	<a class="btn btn-dark btn-lg" href="{% url 'index' %}" style="font-family:righteous;  color:white; font-size:25px;" id = "returnButton" role="button">Kembali</a>
</div>

{% endblock %}