
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div style="background-color: white; border: 2px solid black; padding: 5px; margin: 5px; opacity: 0.9;">
				<div>
					<article style = "float:center">
							<h2><center><a href = "{% url 'status_detail' pk=status.pk %}" id = "statusTitle">{{ status.title }}</center></a></h2>
							<p class="subheader">
								<time>{{ status.modified_at|date }}</time>
							</p>
							<p id = "description">	
							{{ status.description|linebreaks }}
							</p>
					</article>
				</div>
			</div>
		</div>
	</div>
</div>