{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style ="text-align:center;">
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="submitButton" class="save btn btn-default">Add!</button>
    </form>
</div>

<a class="btn btn-dark btn-lg" href="{% url 'index' %}" style="font-family:righteous;  color:white; font-size:25px; margin: 5px" id="returnButton" role="button">Kembali</a>
<br>

{% endblock %}