 /*----------------------------------
    SIDEBAR
    ----------------------------------*/
input[type=radio], input[type=checkbox] {
    display: none;
}

.base-color {
    background-color: #3AAFA9;
}

.classic-color {
    background-color:#FFBA5C;
}